*{
    padding: 0;
    margin: 0;;
    
}
body{background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    }

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.div-header{
     width: 100%;
     height: 100px;
     display: flex;
}

.div-profile-picture{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
}


.div-titles{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 170px;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    gap: 200px;
}

.blog-card{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 750px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    color: black;
    background-color: rgb(255, 255, 255);
    text-align: center;
}


/* carstyling */

.image-container{
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 10px 10px 0px 0px;
    border: solid 1px black;
    overflow: hidden;
}

.content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    gap: 70px;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    
}

.screenshot{
    object-fit: cover;
    width: 100%;
    max-width: 750px;
    height: 100%;
}

.icons{
    display: flex;
    gap: 10px;
}

.fa-html5{
    color: #E34F26;
    font-size: 55px;
}
.fa-css3-alt{
    color: #1572B6;
    font-size: 55px;
}
.fa-js{
    color: #F7DF1E;
    font-size: 55px;
}

.title{
    display: flex;
}

.description{
    width: 400px;
}