*{
    padding: 0;
    margin: 0;
    Font-family: Bodoni MT;
    font-size: 20px;
    
}
body{background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    }

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}

header{
    display: flex;
    gap: 100px;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
}

a{
    justify-content: center;
    display: flex;
    width: 100%;
    max-width: 200px;
    height: 50px;
}
footer{
    height: 100px;
}

.profile-picture{
    justify-content: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    border: solid 10px rgb(56, 55, 55);
    border-radius: 100%;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}

.profile{
    display: flex;
    justify-content: center;
    object-fit: cover;
    width: 300px;
   height: 300px;
    border-radius: 100%;
}


.div-github-logo{
   
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;

}

.profile-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}


.div-titles{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.title-aboutme{
    font-size: 50px;
}

.email-div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    height: 100px;
    background-color: #302b63;
    border-radius: 10px;
}

.email-logo{
    width: 50px;
    height: 50px;
}

.aboutme-p{
    display: flex; 
    text-align: center;
    width: 100%;
}

.container-cards{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    margin-top: 200px;
}

.blog-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 700px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    color: black;
    background-color: #ffffff;
    text-align: center;
    transition: box-shadow 0.3s ease;
  }
  
  .blog-card:hover {
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.75);
  }
  


/* carstyling */

.image-container{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 450px;
    border-radius: 10px 10px 0px 0px;
    border: solid 1px black;
    overflow: hidden;
}

.content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    gap: 30px;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    filter:brightness(1);
    
}

.screenshot{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.icons{
    display: flex;
    gap: 10px;
}

.icon{
    width: 50px;
    height: 50px;
}

.title{
    justify-content: center;
    font-size: 35px;
    width: 100%;
    display: flex;
}

.description{
    width: 400px;
}

@media (max-width: 1200px) {
    .blog-card{
        width: 85%;
    }

    header{
        justify-content: center;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .container-cards{
        display: flex;
        flex-wrap: wrap;
        margin-top: 400px;
    
    }

   
} 


