*{
    padding: 0;
    margin: 0;;
}

.div-header{
     width: 100%;
     height: 200px;
     display: flex;
     background-color: rgb(17, 38, 101);
}

.div-profile-picture{
    display: flex;
    width: 100%;
    height: 150px;
    justify-content: center;
}

.profile-picture{
    position: fixed;
    top: 100px;
    height: 200px;
    width: 200px;
    border: solid 1px black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    background-color: black;

}

.div-titles{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.div-blogcard{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
}

.blogcard{
    display: flex;
    width: 100%;
    max-width: 1200px;
    height:150px;
    border: solid 1px black;;    
    border-radius: 10px;
}